@model Medical_Center_System.ViewModels.RoleViewModel
@{
    ViewData["Title"] = "New";
}

<h1>New</h1>
<form method="post" asp-action="New" asp-controller="Role">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="RoleName"></label>
        <input asp-for="RoleName" class="form-control" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>

    <input type="submit" value="Create" class="btn btn-success" />
</form>


